<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOMMERCE</title>
    <link rel="stylesheet" href="../css/account.css" />
    <!-- <script src="/reload/reload.js"></script> -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>

    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">Transaction</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>

    </ul>

    <div style="margin-left:17%;padding:1px 16px;height:1000px;">

        <section class="card-section" id="card-section">
        </section>

        <section id="modal-section">
        </section>



        <section class="movements-Section">
            <div class="tituloMov">
                <p>Ultimos Movimientos</p>
            </div>
            <div id="movementHistory-section" class="movementHistory-section">
            </div>

        </section>

        <!-- 
        <section id="tableHistory-section" class="tableHistory-section">
        </section> -->
    </div>

    <script type="module" src="../js/container/AccountContainer.js"></script>
    <script type="module" src="../js/init.js"></script>
</body>

</html>